*.log
*.pot
*.pyc
local_settings.py
_local_settings.py
.DS_Store
Icon?
.sass-cache
*.swp
*.pid
*.db
*.rdb
.idea
*.sql.gz
muckrack_download*.sql
*~
nohup.out
csv/
*.csv
# Thumbnails
._*
.noseids
.ropeproject
node_modules
.coverage
htmlcov

static/compressed
src/muckrack/static/compressed
src/muckrack/static/CACHE
static/compressed
static/CACHE
my
*.sublime-*
.vagrant
node_modules/
stats.json
Guardfile

# Files that might appear on external disk
.Spotlight-V100
.Trashes
backups
screenshots
Procfile*
out

